{
    "semi": true,
    "singleQuote": true,
    "singleAttributePerLine": false,
    "htmlWhitespaceSensitivity": "css",
    "printWidth": 120,
    "plugins": ["prettier-plugin-organize-imports", "prettier-plugin-tailwindcss"],
    "tailwindFunctions": ["clsx", "cn"],
    "tabWidth": 4,
    "bracketSameLine": true,
    "endOfLine": "lf",
    "overrides": [
        {
            "files": ["**/*.yml", "**/*.vue"],
            "options": {
                "tabWidth": 2
            }
        }
    ]
}
